body {
    background-color: #08D9D6;
}

h1 {
    color: #252A34;
}

.container {
    width: 30% !important;
}

#onlineMode {
    display: none;
}

#currTurn, #sign, #playerNames, #offlinePlayers {
    display: none;
}

table {
    max-width: 800px;
    table-layout: fixed;
}

input {
    text-align: center;
    vertical-align: middle;
    background-color: transparent ;
    border: none;
    caret-color: transparent;
    cursor: pointer;
}

input:focus {
    border-color: transparent;
    box-shadow: 0 inset, 0 ;
    outline: 0 none;
    caret-color: transparent;
}

#cell1 {border-width: 0px 5px 5px 0;}
#cell2 {border-width: 0px 5px 5px 0;}
#cell3 {border-width: 0px 0 5px 0;}
#cell4 {border-width: 0 5px 5px 0;}
#cell5 {border-width: 0px 5px 5px 0;}
#cell6 {border-width: 0 0 5px 0;}
#cell7 {border-width: 0 5px 0 0;}
#cell8 {border-width: 0 5px 0 0;}
#cell9 {border-width: 0 0 0 0;}

td {
    color: #FF2E63;
    font-size: xx-large;
    border-color: #EAEAEA;
    border-style: solid;
    padding: 0 !important;
    vertical-align: middle !important;
}

tr {
    height: 100px !important;
}

button {
    width: 100%;
}

.prefCol {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        width: 90% !important;
    }

    tr {
        height: 80px !important;
    }

    .prefCol {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .prefColBtn {
        padding-left: 2px;
        padding-right: 2px;
    }
}