body {
    background-color: #08D9D6;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

.pageLoader {
    height: 100vh;
    background-color: #060e33;
    color: #EAEAEA;
    animation: fadeOutAnimation ease 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.pageLoader h1 {
    color: #EAEAEA;
}

.pageLoader > .container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

figure > img {
    max-width: 20vw !important;
    height: 30vh !important;
    border-radius: 25px;
}

svg {
    height: 3vh;
}

h1 {
    color: #252A34;
}

.container {
    width: 30% !important;
}

#onlineMode {
    display: none;
}

#findPlayerValidation, #duplicatePlayerValidation, .roomPlayerValidation {
    display: none;
    color: red;
    text-align: center;
}

#currTurn, #sign, #playerNames, #offlinePlayers, #resultAlert, #onlineMainMenu, #restarOnlineGame, #offlinePlayerNames, #offlineSign, #offlineCurrTurn {
    display: none;
}

#waitingPlayerText, #disconnectedPlayerText, #staticBackdropLabel {
    color: #FF2E63;
}

#waitingRoomText {
    color: #0dcaf0;
}

#disconnectedPlayerTitle {
    color: darkviolet;
}

table {
    max-width: 800px;
    table-layout: fixed;
}

input {
    text-align: center;
    vertical-align: middle;
    background-color: transparent ;
    border: none;
    caret-color: transparent;
    cursor: pointer;
}

input:focus {
    border-color: transparent;
    box-shadow: 0 inset, 0 ;
    outline: 0 none;
    caret-color: transparent;
}

#cell1 {border-width: 0px 5px 5px 0;}
#cell2 {border-width: 0px 5px 5px 0;}
#cell3 {border-width: 0px 0 5px 0;}
#cell4 {border-width: 0 5px 5px 0;}
#cell5 {border-width: 0px 5px 5px 0;}
#cell6 {border-width: 0 0 5px 0;}
#cell7 {border-width: 0 5px 0 0;}
#cell8 {border-width: 0 5px 0 0;}
#cell9 {border-width: 0 0 0 0;}

td {
    color: #FF2E63;
    font-size: xx-large;
    border-color: #EAEAEA;
    border-style: solid;
    padding: 0 !important;
    vertical-align: middle !important;
}

tr {
    height: 100px !important;
}

button {
    width: 100%;
}

.prefCol {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > div {
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 3%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        width: 90% !important;
    }

    tr {
        height: 80px !important;
    }

    .prefCol {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .prefColBtn {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@keyframes fadeOutAnimation {
    33% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
